server {
  listen 8080;
  server_name _;
  return 301 https://status.z4tek.com$request_uri;
}

server {
  listen 80;
  server_name _;
  root /usr/share/nginx/html;
  index index.html;
  location = /api/status {
    proxy_pass ${MYMATE_API_URL}/api/public/status;
    proxy_set_header X-Status-Api-Key "${MYMATE_STATUS_TOKEN}";
    proxy_set_header Accept "application/json";
    proxy_ssl_server_name on;
  }
  location = /api/public/status-subscriptions {
    proxy_pass ${MYMATE_API_URL}/api/public/status-subscriptions;
    proxy_set_header Accept "application/json";
    proxy_set_header Content-Type "application/json";
    proxy_ssl_server_name on;
  }
  location ^~ /api/public/status-subscriptions/verify/ {
    proxy_pass ${MYMATE_API_URL};
    proxy_set_header Accept "application/json";
    proxy_ssl_server_name on;
  }
  location ^~ /api/public/status-subscriptions/unsubscribe/ {
    proxy_pass ${MYMATE_API_URL};
    proxy_set_header Accept "application/json";
    proxy_ssl_server_name on;
  }

  location / { try_files $uri $uri/ /index.html; }
  add_header Cache-Control "no-cache" always;
}
